//  $black: #1E1E2E;
// // $Red: #F38BA8;
// $white: #C6D0F5;
// $whiteSubText:#A1A8C9;
// $white2: #B3BCDF;
// $blue: #87B0F9;
// $pink: #F5C2E7;
// $green: #A6E3A1;
// $skyLight: #89DCEB
// documentation https://github.com/catppuccin/catppuccin/blob/main/docs/translation-table.md


// Define variables for the latte palette colors
$rosewater: #F5E0DC;
$flamingo: #F2CDCD;
$pink: #F5C2E7;
$mauve: #CBA6F7;
$red: #F38BA8;
$maroon: #EBA0AC;
$peach: #FAB387;
$yellow: #F9E2AF;
$green: #A6E3A1;
$teal: #94E2D5;
$blue: #87B0F9;
$darkBlue: #1E66F5;
$sky: #89DCEB;
$sapphire: #74C7EC;
$lavender: #B4BEFE;
$crust: #11111B;
$black: #1E1E2E;
$white: #C6D0F5;
$black-Surface:#43465A

//  $black: #1E1E2E;
// // $Red: #F38BA8;
// $white: #C6D0F5;
// $whiteSubText:#A1A8C9;
// $white2: #B3BCDF;
// $blue: #87B0F9;
// $pink: #F5C2E7;
// $green: #A6E3A1;
// $skyLight: #89DCEB
// documentation https://github.com/catppuccin/catppuccin/blob/main/docs/translation-table.md

