@import "colors.scss";

.main-menu{
    text-align: center;
    background-color: $black-Surface;
    width: 80%;
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 10px 10px 10px 10px;
    &-container{
        display: flex;
        align-items: center;
        width: 100%;
        flex-direction: column;
        border-collapse: collapse;
        &-body{
            position: fixed;
            bottom: 0;
            padding-bottom: 2vh;
            width: 100%;
            font-size: 100%;
        }
    }
    &-button{
        background-color: $darkBlue;
        color: $black;
    }
}
@media only screen and (max-width: 600px) {
    .main-menu{
        width: 100%;
        &-container{
            flex-direction: row;
            justify-content: space-around;
            &-container{
                position: relative;
            }
        }
    }
}